.TopBar {
    color: #fff;
    padding: 1.5em 2em;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.TopBarLogoText {
    font-size: 32px;
}

.TopBarRight {
    display: flex;
    margin-left: auto;
}

.TopBarButton {
    margin-left: 3em;
    font-size: 1.2em;
    line-height: 1.2em;
    text-align: center;
}
